{QTtext}{timescale:1000}{font:Arial}{size:16}{backColor:0,0,0}{textColor:65535,65535,65535}{width:420}{justify:center}{dropShadow:on}{dropShadowOffset:1,1}{dropShadowTransparency:200}
#set( $lastFormattedStopTime = "00:00:00.00" )
#foreach ($subtitle in $subtitles)
#set( $startTime = $subtitle.startTime)
#set( $stopTime = $subtitle.startTime + $subtitle.duration)
#if( ${CaptionUtil.formatPeriod("sbv", $startTime)} ==  $lastFormattedStopTime )
[${CaptionUtil.formatPeriod("sbv", $startTime)}]
$subtitle.content
#else
[$lastFormattedStopTime]
[${CaptionUtil.formatPeriod("sbv", $startTime)}]
$subtitle.content
#end
#set( $lastFormattedStopTime = ${CaptionUtil.formatPeriod("sbv", $stopTime)} )
#end
[$lastFormattedStopTime]