#set ($d = "$")
${d}FontName           = Arial
${d}FontSize           = 36
${d}HorzAlign          = Center
${d}VertAlign          = Bottom

#foreach ($subtitle in $subtitles)
#set( $startTime = $subtitle.startTime)
#set( $stopTime = $subtitle.startTime + $subtitle.duration)
${CaptionUtil.formatPeriod("stl", $startTime)} , ${CaptionUtil.formatPeriod("stl", $stopTime)} , ${CaptionUtil.formatLineSeperator("stl", $subtitle.content)}
#end