#set ($d = "$")
${d}FontName           = ${configuration.font}
${d}FontSize           = ${configuration.fontSize}
${d}HorzAlign          = ${CaptionUtil.formatPosition("stl", $configuration.horizontalPosition)}
${d}VertAlign          = ${CaptionUtil.formatPosition("stl", $configuration.verticalPosition)}

#foreach ($subtitle in $subtitles)
#set( $startTime = $subtitle.startTime)
#set( $stopTime = $subtitle.startTime + $subtitle.duration)
${CaptionUtil.formatPeriod("stl", $startTime)} , ${CaptionUtil.formatPeriod("stl", $stopTime)} , ${CaptionUtil.formatLineSeperator("stl", $subtitle.content)}
#end